/* body + nav */
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#active {
	color: #ef4f15;
}

.background-image-container {
	margin: 0;
	background-image: url(../images/container1_background_image.svg);
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	height: 100vh;
}
/* 1st container */
.container1 {
	display: flex;
	flex-direction: row;
	/* height: 75vh; */
}

.left-item1 {
	flex: 1;
}

.item-right1 {
	flex: 1;
	margin-left: 500px;
}
/* 2de container */
.container2 {
	display: flex;
	flex-direction: row;
	height: 50vh;
	color: #ef4f15;
	background-color: #2d2d2d;
}
