.table-container {
	margin: 50px 0px 0px 50px;
}

th,
td {
	font-family: "poppins", sans-serif;
	font-style: normal;
	padding: 5px 50px;
}

#team {
	font-size: 45px;
	padding: 0px 25px;
}

#active {
	color: #ef4f15;
}
