body {
    background-image:url(./images/MicrosoftTeams-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
}

.quote-item {
    margin-top: 1%;
    margin-left: 29%;
}

.name-item {
    margin-left: 10%;
    margin-top: 50px;
    color: #D36127;
    font-size: 50px;
    line-height: 80px;
}
.name-item2 {
    margin-left: 150px;
}

