body {
    background-image:url(./images/Fichier\ 18.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
}

.quote-item {
    margin-left: 22%;
}

.name-item {
    margin-left: 6%;
    margin-top: 50px;
    color: #D36127;
    font-size: 50px;
    line-height: 0.9;
}
.name-item2 {
    margin-left: 160px;
}
