/* body and container */
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*--------------container een --------------*/
.container {
	display: flex;
	height: 98vh;
}

.left-container,
.right-container {
	flex: 1;
	height: 98vh;
}
/* right container een */
.right-container {
	display: flex;
	flex-direction: column;
	background-image: url(../images/Gert\ Ausloos\ -\ Fichier\ 23.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-right: -45px;
}

@media screen and (max-width: 1180px) {
	.right-container {
		background-image: none;
	}
}

/* left container een*/

.left-container {
	display: flex;
	justify-content: center; /* Centrer horizontalement */
}
.left-content {
	background-color: rgb(255, 255, 255);
	height: 80vh;
	width: 700px;
}

.left-content p {
	margin: 200px 20px 50px 210px;
	line-height: 1.6;
	color: #ef4f15;
}
.button {
	padding: 15px 25px;
	color: white;
	background-color: #2d2d2d;
	text-decoration: none;
	font-size: 15px;
	margin-left: 210px;
}

.button:hover {
	transform: translateY(-2px);
	background-color: #ef4f15;
}
@media screen and (max-width: 648px) {
	.right-container {
		background-image: none;
	}

	.left-content p {
		max-width: 350px;
		margin: 50px;
		margin-top: 200px;
		transition: 0.3s;
	}

	.button {
		margin-left: 50px;
		transition: 0.3s;
	}
}
@media screen and (max-width: 1180px) {
	.right-container {
		background-image: none;
		display: flex;
	}

	.left-content p {
		max-width: 350px;
		margin-top: 200px;
		transition: 0.3s;
	}

	.button {
		transition: 0.3s;
	}
}
/*--------------container twee--------------*/

.container2 {
	background-color: #2d2d2d;
	height: 100vh;
	display: flex;
	background-image: url(../images/Gert\ Ausloos\ -\ Fichier\ 22.svg);
	background-repeat: no-repeat;
	margin-left: -45px;
}
/* right container twee */

.right-container2 p {
	margin: 65px 10px 30px -70px;
	line-height: 1.6;
	color: #f28c28;
}

.right-container2 img {
	width: 340px;
	margin-left: -70px;
}

/* left container twee */

.left-container2 {
	height: 100vh;
	width: 56%;
}
@media screen and (max-width: 648px) {
	.container2 {
		background-image: none;
	}

	.right-container2 {
		margin-left: -45px;
	}
}
@media screen and (max-width: 1180px) {
	.container2 {
		background-image: none;
	}
}

/*--------------container drie --------------*/

.container3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container3 img {
	justify-content: center;
	width: 500px;
	margin: 30px 40px 10px 0px;
}

.container3 img:hover {
	color: green;
}

.container3 p {
	color: #ef4f15;
	line-height: 1.6;
	max-width: 550px;
}

@media screen and (max-width: 1180px) {
	.container3 {
		flex-direction: column;
	}

	.container3 img {
		width: 350px;
		margin-top: 350px;
		margin-left: 45px;
		display: flex;
	}

	.container3 p {
		margin: 50px;
	}
}
