/* BASE LAYOUT FLEXBOX */

body {
	margin: 0;
}

.colour-1 {
	padding: 50px 200px;
	margin: 100px 100px 10px 0px;
	background-color: #ef4f15;
}

.colour-2 {
	padding: 50px 200px;
	margin: 200px 100px 10px 0px;
	background-color: #d36127;
}

.colour-3 {
	padding: 50px 200px;
	margin: 300px 100px 10px 0px;
	background-color: #2d2d2d;
}
