@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;1,400&display=swap");
/* TYPOGRAPHY */

h1 {
	font-family: "Vollkorn", serif;
}

h2 {
	font-family: "Vollkorn", serif;
}

h3 {
	font-family: "Vollkorn", serif;
}

h4 {
	font-family: "Vollkorn", serif;
}

h5 {
	font-family: "Vollkorn", serif;
}

h6 {
	font-family: "Vollkorn", serif;
}

p {
	font-family: "Vollkorn", serif;
}

a {
	font-family: "Vollkorn", serif;
}
