/* body and container */
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	height: 100vh;
}

.left-container,
.right-container {
	flex: 1;
	height: 100%;
}

/* right container */
.right-container {
	display: flex;
	flex-direction: column;
}

.right-content img {
	position: fixed;
	width: fit-content;
	height: 110vh;
	margin-left: 150px;
}

@media screen and (max-width: 1180px) {
	.right-container {
		display: none;
	}
}

/* left container */

.left-container {
	display: flex;
	flex-direction: column;
}

.left-content {
	background-color: white;
}

.left-content p {
	line-height: 1.6;
	color: #ef4f15;
}

.aboutcontent {
	margin: 130px 10px 0px 200px;
}

@media screen and (max-width: 1180px) {
	.aboutcontent {
		margin: 130px 200px 0px 200px;
	}
}
/* buttons */

.buttons {
	margin-top: 40px;
}

.buttons a {
	margin-right: 20px;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 0;
	color: white;
	background-color: #2d2d2d;
	display: inline-block;
}

.buttons a:hover {
	transform: translateY(-2px);
	background-color: #ef4f15;
}

@media screen and (max-width: 782px) {
	.buttons {
		display: flex;
		flex-direction: column;
	}

	.buttons a {
		flex: 1;
	}
}
