body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	height: 100%;
}

.left-container,
.right-container {
	flex: 1;
	height: 100%;
}

/* right container */
.right-container {
	display: flex;
	flex-direction: column;
}

.right-content img {
	width: fit-content;
	height: 100vh;
}

@media screen and (max-width: 1180px) {
	.right-container {
		display: none;
	}
}

/* left container */

.left-container {
	display: flex;
	flex-direction: column;
}

.left-content {
	background-color: white;
}

.left-content p {
	margin: 100px 10px 100px 60px;
	line-height: 1.6;
	color: #ef4f15;
}

.buttons a {
	margin: 0px 10px 0px 60px;
	line-height: 1.6;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 0;
	color: white;
	background-color: #2d2d2d;
}

.buttons a:hover {
	transform: translateY(-2px);
}
