.nav-list {
	/* list-style: none;
	padding: 0;
	display: flex;
	margin: 45px 0px 0px 0px; */

	display: flex;
	padding: 10px;
	margin-top: 30px;
	margin-left: 50px;
}

.nav-list li {
	/* padding: 10px;
	margin-left: 40px; */

	display: inline-block;
	list-style-type: none;
	margin-right: 50px;
}

.nav-list li a {
	text-decoration: none;
	color: #2d2d2d;
}

.logo {
	height: 50px;
	margin-right: 50px;
}

.nav-list a:hover {
	color: #ef4f15;
}
a.orange {
	color: #ef4f15;
}

#active {
	color: #ef4f15;
}
