                        /* OUR WORKS */
.container {
	display: flex;
	flex-direction: column;
    height: 100vh;
}
.name-item {
    margin-left: 20%;
    margin-top: 50px;
    color: #2d2d2d;
    font-size: 35px;
    line-height: 0.9;
}
.name-item2 {
    margin-left: 100px;
    margin-right: 50px;
}

                        /* OUR RECOMMENDATIONS */
.container2 {
	background-color: #2d2d2d;
	display: flex;
	height: 100vh;
}
.name-item3 {
    margin-left: 6%;
    color: white;
    font-size: 35px;
    background-color: #2d2d2d;
    line-height: 0.9;
}
.name-item4 {
    margin-left: 100px;
    margin-right: 30px;
}

                    /* JOIN NEXT EVENT? */
.container3 {
    display: flex   ;
}
.name-item5 {
    color: #2d2d2d;
    font-size: 35px;
    margin-left: 60%;
    line-height: 0.9;
}
.name-item6 {
    margin-left: 220px;
    margin-right: 30px;
}